/* Generics */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F8F9;
}

/* Utilities */

.container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    border: solid;
    border-color: white;
    border-radius: 20px 20px 0px 0px; 
    margin-top: 20px;
}
.arrow-down {
    display: inline;
    font-size: 12px;
    vertical-align: middle;
}

h2, main {
display: inline;
vertical-align: middle;
font-family: 'Anton', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 20px;
}

.button-class {

    display: inline-block;
    border-radius: 10px;
    color: white;
    padding: 6px 6px;
    font-size: 11px;
    margin: 5px;
}

.editorial-button {
    background-color: #2B90FF;
    color: white;
}

.q1goals-button {
    background-color: #9C72E4;
    color: white;
}

.recruiting-button {
    background-color: #64C0A9;
    color: white;
}

.mobile-button {
    background-color: #F29E33;
    color: white;
}

.website-button {
    background-color: #D863A1;
    color: white;
}

.sales-button {
    background-color: #B0CA26;
    color: white;
}

.editorialorange-button {
    background-color: #F29E33;
    color: white;
}

.point { 
    width: 10px;
    height: 10px;
    border-radius: 100%;  
    text-align: center;
    margin-right: 2px;
    display: inline-block;
    border-style: solid;
    padding: 1px;
    font-size: 14px;
    line-height: 10px;
}

.marked-point {
    border-color: lightgreen;
    color: lightgreen;

}

.crossed-point {
    border-color: red;
    color: red;
}

.tasks{
    display: inline-block;
}

/* First Header */
#first-header {
    background-color: white;
}

#logo {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    padding-left: 20px;
}

h1 {
    font-size: 50px;
    display: inline;
    vertical-align: middle;
    font-family: 'Anton', sans-serif;
    font-family: 'Kalam', cursive;
}

/* Header Buttons */

#button-header {
    height: 60px;
}

#button-position {
    margin-left: 30px;
    padding-top: 10px;
}

#add-task {
    background-color: #2B90FF;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

#add-section {
    background-color: white;
    color: grey;
    border-color: grey;
    border-style: solid;
    padding: 8px 8px;
    border-radius: 10px;
}

/* Article */

#separator {
    background-color: #F6F8F9;
    width: 101%;
    height: 4px;
    margin-bottom: 13px;
    margin: -8px;

}

article {
    margin-left: 20px;
    margin-top: 30px;
}

.title-article {
    margin: 20px 0px;
}

.item-article {
    margin: 5px 0px;
}